<div class="row">
    <div class="jumbotron">
        <h1>{{queue.name}}</h1>
        <p class="lead">{{queue.details}}</p>
        <p>
            <a href="#join-queue?shortCode={{queue.shortCode}}" class="btn btn-primary btn-large">Join Queue »</a>
        </p>
    </div>

    <div class="col-md-12">
        <div>
            <div data-ng-repeat="(timestamp, user) in queue.users" class="repeat-item well well-lg">
                <div data-ng-controller="UserController" ng-init="init(user.userId)">
                    {{user.fullName}}
                </div>
                <p>Joined: {{timestamp}}</p>
            </div>
        </div>
    </div>
</div>